$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;
$red: #ee394b;

$alert-bg-level: 6;
$alert-border-level: 5;
$alert-color-level: -8;
$body-bg: $gray-900;
$body-color: $gray-100;
$border-color: $gray-700;
$card-bg: $body-bg;
$card-border-color: rgba($white, 0.125);
$close-color: $body-color;
$custom-select-indicator-color: $gray-500;
$input-bg: $gray-800;
$input-border-color: $gray-600;
$input-color: $gray-100;
$input-focus-border-color: $gray-600;
$modal-content-bg: $body-bg;
$nav-link-padding-x: 0.5rem;
$nav-link-padding-y: 0.25rem;
$nav-tabs-border-color: $gray-800;
$nav-tabs-border-radius: 0;
$nav-tabs-link-active-bg: $gray-800;
$nav-tabs-link-active-color: $gray-100;
$nav-tabs-link-active-border-color: $gray-800 $gray-800 $nav-tabs-link-active-bg;

@import "~bootstrap/scss/bootstrap";

.abs-top-right {
	position: absolute;
	top: 0;
	right: 0;
}
